*{
    padding: 0;
    margin: 0;
}

.card-container{
    background-color: hsl(207, 26%, 17%);
    height: 100vh;
    padding: 4% 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 20px 30px;
    background-color: hsl(209, 23%, 22%);
    height: 300px;
    width: 250px;
    border-radius: 7px;
}
.flag-container{
    background-color: white;
    width: 100%;
    height: 50%;
    overflow: hidden; 
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.flag-container > img{
    width: 100%;
    height: 100%;
}
.country-container{
    color: white;
    font-family: Nunito Sans;
    padding: 10%;
}
.country-container > h4{
    padding-bottom: 10px;
}
.country-container > strong{
    font-size: 13px;
}
.country-container > span{
    padding: 10px;
    font-size: 13px;
}