/* Anubhav's CSS */

* {
    padding: 0;
    margin: 0;
    background-color: var(--bgcolor);
    background-color: hsl(207, 26%, 17%);
    background-color: hsl(0, 0%, 98%);
}


.card-container {
    background-color: hsl(207, 26%, 17%);

    background-color: var(--bgcolor);
    padding-top: 70px;
    padding-left: 170px;
    padding-right: 170px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));

    background: hsl(0, 0%, 98%);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.country{
    margin: 20px;
    width: 300px;
    height: 400px;
}

.card {
    margin: 50px 30px;
    margin-bottom: 50px ;
    background-color: hsl(209, 23%, 22%);
    background-color: hsl(0, 0%, 100%);
    height: 300px;
    width: 250px;
    border-radius: 7px;
}

.flag-container {
    background-color: white;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}



.flag-container>img {
    object-fit: cover;

.flag-container>img {

    width: 100%;
    height: 100%;
}

.country-container {
    color: white;
    color: black;
    font-family: Nunito Sans;
    padding: 10%;
    background-color: hsl(209, 23%, 22%);
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
}

.country-container>h4 {
    padding-bottom: 10px;
    background-color: hsl(209, 23%, 22%);
    background-color: hsl(0, 0%, 100%);
}

.country-container>span>strong {
    font-size: 13px;
    background-color: hsl(209, 23%, 22%);
    background-color: hsl(0, 0%, 100%);
    padding-right: 10px;
}

.country-container>span {
    padding: 10px 0px;
    font-size: 13px;
    background-color: hsl(209, 23%, 22%);
    background-color: hsl(0, 0%, 100%);
}



/* Farhan's CSS and Anubhav's CSS  */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 11%;
    background-color: hsl(209, 23%, 22%);
    background-color: hsl(0, 0%, 100%);
}

.heading {
    background-color: hsl(209, 23%, 22%);
    background-color: hsl(0, 0%, 100%);
    color: white;
    color: black;
    font-family: Nunito Sans;
    background-color: var(--bgcolor);
}

.mode-container {

    background-color: var(--bgcolor);

    background-color: hsl(209, 23%, 22%);
    background-color: hsl(0, 0%, 100%);

    display: flex;
    align-items: center;
}

.night-mode {
    width: 15px;

    
}

.mode {

    background-color: hsl(209, 23%, 22%);
    background-color: hsl(0, 0%, 100%);
}

.mode {
    background-color: hsl(209, 23%, 22%);
    background-color: hsl(0, 0%, 100%);

    padding: 0px 12px;
    color: #fff;
    color: black;
    border: none;
    cursor: pointer;
    font-family: Nunito Sans;
    background-color: var(--bgcolor);
}

.container-2 {
    padding: 30px 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(207, 26%, 17%);
    background-color: var(--bgcolor);
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(209, 23%, 22%);
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 5px;
    /* background-color: var(--bgcolor); */
}

#searchButton {
    border: none;
    background-color: hsl(209, 23%, 22%);

    background-color: var(--bgcolor);

    background-color: hsl(0, 0%, 100%);

}

#searchButton>img {
    width: 25px;
    background-color: hsl(209, 23%, 22%);

    background-color: var(--bgcolor);

}

#searchInput {
    border: none;
    padding: 10px;
    background-color: hsl(209, 23%, 22%);

    background-color: var(--bgcolor);

    background-color: hsl(0, 0%, 100%);

    width: 300px;
    font-size: 15px;
    color: white;
}


.dropdowncol{
    color: white;
    width: 150px;
    position: relative;

#continentSelect {
    border: none;
    border-right: 10px solid hsl(209, 23%, 22%);
    background-color: hsl(0, 0%, 100%);
    padding: 15px 25px;
    width: 200px;
    height: 60px;
    background-color: hsl(209, 23%, 22%);
    background-color: hsl(0, 0%, 100%);
    color: white;
    color: black;

    font-family: Nunito Sans;
}

.dropdown{
    background-color: hsl(209, 23%, 22%);
    /* background-color: var(--bgcolor); */
    height: 20px;
    width: 100%;
    padding: 17px 14px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.dropdown p{
    background-color: hsl(209, 23%, 22%);
    background-color: var(--bgcolor);
    
}
.drop{
    margin-top: 10px;
    position: absolute;
    padding: 10px;
    width: 100%;
    background-color: hsl(209, 23%, 22%);
    /* background-color: var(--bgcolor); */
}

.drop p{
    background-color: hsl(209, 23%, 22%);
    background-color: var(--bgcolor);
    padding: 10px;
}

.showdropdown{
    display: none;
}

/* Media Queries */

@media screen and (max-width: 934px) {
    .card-container{
        padding-left: 80px;
        padding-right: 80px;
    }
}
@media screen and (max-width: 735px) {
    .container {
        padding: 30px 7%px;
    }

    .card-container{
        padding-left: 30px;
        padding-right: 30px;
    }


    .container-2 {
        padding: 30px 7%;
    }

    #searchInput {
        width: 200px;
    }
}


@media screen and (max-width: 660px) {

@media screen and (max-width: 620px) {

    .card {
        height: 500px;
        width: 400px;
    }

    .container {
        padding: 30px 4%;
    }

    .heading {
        font-size: 15px;
    }

    .card-container{
        padding-left: 80px;
        padding-right: 80px;
        justify-content: center;
    }
=======


    .container-2 {
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 4%;
    }


    .dropdowncol {

    #continentSelect {

        margin-top: 20px;
    }
}

/* Add more media queries for other screen sizes if necessary */